0x00-html_advanced/site.webmanifest
0x00-html_advanced/android-chrome-192x192.png
0x00-html_advanced/browserconfig.xml
0x00-html_advanced/favicon_default.jpg
0x00-html_advanced/favicon.ico
0x00-html_advanced/safari-pinned-tab.svg
0x00-html_advanced/mstile-150x150.png
0x00-html_advanced/logo-black.png
0x03-responsive_design/00-index.html
0x03-responsive_design/00-styles.css
*.map
0x00-sass_scss/0-debug_log.css
0x00-sass_scss/1-color_variable.css
0x00-sass_scss/2-color_variables.css
0x00-sass_scss/3-nested_tag.css
0x00-sass_scss/4-nested_class.css
0x00-sass_scss/5-nested_child.css
0x00-sass_scss/6-nested_hover.css
0x00-sass_scss/7-nested_deeper.css
